[
    {
        "id_": "0",
        "opensea": "https://opensea.io/",
        "collection": "MetaLizards Official",
        "price": "0",
        "currency": "ETH",
        "raritycow": "http://raritycow.io/token/metalizards-official/",
        "rank": "0",
        "img": "https://lh3.googleusercontent.com/fg0LQgKDYpE5FzzzP7vpZW_Q85nr6EKAb1LweGMepZSM9ZYtMTcQ6FNOhnWMyyoqaRIkOBiSpIl633vhWUBnx6Y55qsWcnabCUap"
    }
]